<div class="dashboard" *ngIf="perfil">
  <h2>Bienvenido, {{ perfil?.nombre }}</h2>

  <div class="button-group">
    <button (click)="verMiPerfil()">👤 Ver mi perfil</button>
    <button *ngIf="perfil?.rol === 'admin'" (click)="registrarPerfil()">➕ Registrar nuevo perfil</button>
    <button *ngIf="perfil?.gestionarEmpleados" routerLink="/gestionar-empleados/registrar" class="btn btn-primary">
      🧑‍💼 Gestionar Empleados
    </button>
    <button (click)="logout()" class="logout">🚪 Cerrar sesión</button>
  </div>

  <div class="button-group">
    <a routerLink="/tarjetas" class="btn btn-primary">💳 Gestionar Tarjetas</a>
    <a routerLink="/ventas" class="btn btn-primary">🧾 Gestionar Ventas</a>
  </div>
</div>
